<div class="container mt-5 mb-5">
    <h1>Login</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email ID" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Password Here" >
            </div>
            <br><br/>
            <br><br/>
            <div class="col-lg-12">
                <!-- <button class="btn btn-md btn-dark">Login In</button> -->
                <!-- <br><br/>
                <br><br/> -->
                <a routerLink="../order" class="btn btn-sm btn-dark mb-3 ">Login</a>
            </div>
        </div>
    </form>
</div>