<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>

        <br/>
        We are punctual and motivated Individuals who are able to work in a busy environment and probably produce high standards of work. We are excellent team workers and we are able to take instructions from all levels and build up good working relationships with everyone I work with. We work well on our own since we like to set goals which we can strive to achieve will achieve. 
        <br/>
        <br/>
        We are good at listening and communicating. We have creative minds and we always up for new challenges.We are well organized and always plan ahead to make sure we manage time wisely and well.
        <br/>
        <br/>
        We are currently studying Computer Sciences and Information and knowledge systems @ The University Of Prtetoria(UP) and Unemployed.
        These are our detals: WhatsApp(+27 664110178), Email(sbkskhalo.kq@gmail.com)
                              WhatsApp(+27 XXXXXXX), Email(XXXXXXXXX@gmail.com)
                              WhatsApp(+27 XXXXXXX), Email(XXXXXXXXX@gmail.com)
                              WhatsApp(+27 XXXXXXX), Email(XXXXXXXXX@gmail.com)
        <br/>
        <br/>
    </p>

</div>