<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let temp of foodData">

            <div class="foodbox mt-3 mb-3">
                <img src="{{temp.foodImg}}" alt="Food">
                <h1>{{temp.foodName}}</h1>
                <p>{{temp.foodDetails}}</p>
                <p>{{temp.foodPrice | currency:'R'}}</p>
                <br/>
                <a class="Payment" [routerLink]="['/menu',temp.id]">Make Payment &nbsp;<em class="bi bi-bag"></em></a>
            </div>

        </div>



    </div>

</div>