<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Straw-Hat</h1>
            <p>Served hot on your Desk.</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <script src="https://use.fontawesome.com/ee0c315d35.js"></script>
        <div class="col-lg-2 mt-3 mb-3">
            <a target="blank" href="target=_blank"><i class="fab fa-twitch"></i></a>
            <a target="blank" href="target=_blank"><i class="fab fa-youtube"></i></a>
            <a target="blank" href="target=_blank"><i class="fab fa-twitter"></i></a>
            <a target="blank" href="target=_blank"><i class='fab fa-facebook'></i></a>
            <a target="blank" href="target=_blank"><i class='fab fa-instagram'></i></a>
            <a target="blank" href="target=_blank"><i class="fab fa-mastodon"></i></a>
            <a target="blank" href="target=_blank"> <i class="fab fa-discord"></i></a>
        </div>
    </div>
</div>