<div class="banner">
    <div class="content">
        <h1 class="mb-5">Fresh Cooked Food <br/> At Your Office Desk.</h1>
        <a routerLink="menu">ORDER NOW <em class="bi bi-arrow-right"></em></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">Follow The Steps To Order</h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Log a meal</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>Details and Payments</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Runner will deliver Your food</p>
            </div>
        </div>
    </div>
</div>